.board-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 가운데 정렬 */

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .board-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;

    .board-item {
      background-color: #ffffff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;

      h2 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #1877f2;
        text-align: center;
      }

      p {
        font-size: 16px;
        margin-bottom: 10px;
        color: #1c1e21;
        text-align: center;
      }
    }
  }

  .create-board-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    /* 버튼에 호버 효과 추가 */
    &:hover {
      background-color: #0056b3;
    }

    /* 버튼에 액티브(클릭) 효과 추가 */
    &:active {
      background-color: #0056b3;
    }
  }

  .empty-board-message {
    font-size: 18px;
    text-align: center;
    color: #555555;
    margin: 20px auto;
  }

  .end-of-boards-message {
    font-size: 18px;
    text-align: center;
    color: #555555;
    margin: 20px auto;
  }
}