.container {
  margin: 20px auto; /* 중앙 정렬을 위해 좌우 여백을 auto로 설정 */
  padding: 20px;
  max-width: 600px; /* 최대 너비 설정 */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  form {
    label {
      display: block;
      margin-bottom: 10px;
      color: #555;
      font-weight: bold; /* 제목과 내용 글자에 두껍게 표시 */
      text-align: left; 
    }

    input[type="text"] {
      width: calc(100% - 20px); /* 전체 너비에서 여백 제외 */
      padding: 10px;
      margin-top: 10px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 3px;
      transition: border-color 0.3s ease;
    }

    textarea {
      width: calc(100% - 20px); /* 전체 너비에서 여백 제외 */
      padding: 10px;
      margin-top: 10px; /* margin-top 수정 */
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 3px;
      transition: border-color 0.3s ease;
      height: 200px; /* 높이 설정 */
    }

    .input-label {
      text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    }

    button {
      display: block;
      margin-top: 20px;
      width: calc(100% - 20px);
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      background-color: #4caf50;
      color: white;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}