header {
  background-color: #333;
  padding: 10px;

  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      li {
        margin: 0 10px;

        a, button {
          text-decoration: none;
          color: white;
          font-weight: bold;

          &:hover {
            color: #61dafb;
          }
        }
      }

      .login-logout button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        font-weight: bold;
        font: inherit;
        color: white;
      }
    }
  }
}