$primaryColor: #3498db;
$marginBetweenInputs: 20px; // 간격을 더 벌리도록 조정

.SignUp {
  text-align: center;
  margin-top: 50px;

  h2 {
    color: $primaryColor;
    margin-bottom: 30px; // 제목과 아래 간격을 늘림
  }

  form {
    max-width: 400px;
    margin: 0 auto;

    .input-container {
      display: flex;
      flex-direction: column;
      // margin-bottom: 10px;

      .input-row {
        height: 70px;
        position: relative;
        margin-bottom: 40px; // 입력 필드 간의 간격을 조정
        
        label {
          font-weight: bold;
          white-space: nowrap;
          position: absolute;
          left: -80px;
          top: 50%;
          transform: translateY(-50%);
        }

        input {
          width: 100%; // 라벨 영향 받지 않도록 100%로 변경
          padding: 12px; // 패딩을 늘려 더 큰 입력 필드로 보이도록 함
          box-sizing: border-box;
          border: 1px solid $primaryColor;
          border-radius: 8px; // 더 둥글게 조정
          margin-top: 8px; // 입력 필드 위의 간격을 줄임
          font-size: inherit;
        }

        .error-message {
          // 추가: 에러 메시지 스타일
          color: #e74c3c; // 빨간색
          font-size: 15px;
          margin-top: 8px;
          white-space: pre-wrap;
 
        }

      }
      
    }

    button {
      background-color: $primaryColor;
      color: white;
      padding: 14px; // 더 큰 패딩으로 버튼 크기를 키움
      cursor: pointer;
      border: none;
      border-radius: 8px;
      margin-top: 20px; // 버튼 위의 간격을 조정
      width: 100%;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primaryColor, 10%);
      }

      &:active {
        background-color: darken($primaryColor, 20%);
      }
    }
  }
}

@media screen and (max-width: 600px) {
    .SignUp form {
      max-width: 60%;
    }
   

  }