.tag-container {
    --tag-bg: #ffc107; /* 태그 배경색 */
    --tag-hover: #ff9800; /* 마우스 호버 시 태그 배경색 */
    --tag-text-color: #fff; /* 태그 텍스트 색상 */
    --tags-border-color: #ffc107; /* 태그 테두리 색상 */
    --tag-remove-bg: #f44336; /* 태그 삭제 버튼 배경색 */
    --tag-pad: 8px 12px; /* 태그 패딩 */
    --tag-inset-shadow-size: 10px; /* 태그 내부 그림자 크기 */
    --tag-remove-btn-bg--hover: #e53935; /* 태그 삭제 버튼 호버 시 배경색 */
  
    display: inline-block;
    margin-top: 10px;
  }
  
  .tag {
    display: inline-block;
    background-color: var(--tag-bg);
    color: var(--tag-text-color);
    border: 1px solid var(--tags-border-color);
    border-radius: 20px;
    padding: var(--tag-pad);
    margin-right: 5px;
    font-family: 'Comic Sans MS', cursive; /* 귀여운 폰트 설정 */
    font-size: 16px; /* 폰트 크기 설정 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* 텍스트 그림자 설정 */
    transition: background-color 0.3s ease; /* 호버 효과 설정 */
    font-weight: bold;
  }
  
  .tag:hover {
    background-color: var(--tag-hover);
  }
  
  .tagify__tag__removeBtn {
    background-color: var(--tag-remove-bg);
  }
  
  .tagify__tag__removeBtn:hover {
    background-color: var(--tag-remove-btn-bg--hover);
  }